openai==1.54.3
anthropic>=0.40.0,<1.0.0
blobfile
fairscale
pandas # with default numpy==1.21.6
scipy #==1.5.2
matplotlib #==3.0.3
seaborn==0.9.0
protobuf==3.20.3
rich==13.5.2
fire
tiktoken
transformers
dtw-python
sentencepiece
scikit-learn
plotly
aiohttp
gym
httpx==0.27.2
websocket
websockets
